@inject IEmployeeRep employee
@inject IDepartmentRep department


@{
    ViewData["Title"] = "Index";
}

@section BootstrapSelect{
    <link rel="stylesheet" href="~/plugins/bootstrap-select/css/bootstrap-select.css" />
}

<h2>Test</h2>

<select class="form-control">
    <option>Choose Department</option>
    @foreach (var item in await department.GetAsync())
    {
        <option value="@item.Id">@item.Name</option>
    }     
</select>

<br /> <br />

<select class="form-control">
    <option>Choose Employee</option>
    @foreach (var item in await employee.GetAsync())
    {
        <option value="@item.Id">@item.Name</option>
    }     
</select>